.appWrapper {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.flagWrapper {
  width: 40%;
  margin: 0 auto 0;
  text-align: center;
}

.flag {
  margin: 0 auto 0;
  width: 200px;
  height: 70px;
  display: block;
}

.countryInfo {
  width: 40%;
  margin: 0 auto 0;
  text-align: left;
}

.btn {
  display: block;
  margin: 0 auto 0;
  color: white;
  background-color: rgb(46, 165, 165);
  padding: 10px;
  outline: 0;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}
.btn:active {
  padding: 9px;
}